

.main{
    height: calc(100vh - 150px);
    width: 100%;
    background-color: #DCDCDC;
  }
  
  img {
    border-radius: 5px;
  }
  
  td {
    color: black;
  }

  .Games{
      background-color: #DCDCDC;
      color: black;
  }